<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="../layout.xhtml">

	<ui:define name="content">
		<h:form id="form">

			<p:growl id="mensagem" showDetail="true" />

			<p:panel id="painel" header="Lista de Clientes">
				<p:dataTable id="tabCliente" var="cliente"
					value="#{listaClientes.clientes}" rows="10" paginator="true"
					paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					emptyMessage="Nenhum registro encontrado!"
					filteredValue="#{listaClientes.clientes}" editable="true">

					<p:ajax event="rowEdit" listener="#{listaClientes.onRowEdit}"
						update=":form:mensagem" />
					<p:ajax event="rowEditCancel"
						listener="#{listaClientes.onRowCancel}" update=":form:mensagem" />

					<p:column headerText="# Id" sortBy="#{cliente.idCliente}"
						filterMatchMode="contains">
						<h:outputText value="#{cliente.idCliente}" />
					</p:column>

					<p:column headerText="Nome" sortBy="#{cliente.pessoa.nome}">
						<p:cellEditor>
							<f:facet name="output">
								<h:outputText value="#{cliente.pessoa.nome}" />
							</f:facet>
							<f:facet name="input">
								<p:inputText value="#{cliente.pessoa.nome}" />
							</f:facet>
						</p:cellEditor>

					</p:column>

					<p:column headerText="Ativo" sortBy="#{cliente.ativo}">
						<p:cellEditor>
							<f:facet name="output">
								<h:outputText value="#{cliente.ativo?'Sim':'Não'}" />
							</f:facet>
							<f:facet name="input">
								<p:selectBooleanCheckbox value="#{cliente.ativo}" />
							</f:facet>
						</p:cellEditor>

					</p:column>


					<p:column headerText="Tipo Pessoa"
						sortBy="#{cliente.pessoa.idTipoPessoa}">

						<h:outputText
							value="#{cliente.pessoa.idTipoPessoa eq 1? 'Física':'Jurídica'}" />



					</p:column>


					<p:column headerText="CPF/CNPJ">

						<h:outputText
							value="#{cliente.pessoa.idTipoPessoa eq 1? cliente.pessoa.cpf:cliente.pessoa.cnpj}" />



					</p:column>



					<p:column style="width:32px">
						<p:rowEditor />
					</p:column>



					<p:column>

						<p:commandLink class="ui-icon ui-icon-trash" id="detelar"
							onclick="PF('confirmacaoExclusao').show()">

							<f:setPropertyActionListener
								target="#{listaClientes.clienteSelecionado}" value="#{cliente}" />


						</p:commandLink>


					</p:column>






				</p:dataTable>
			</p:panel>



			<p:confirmDialog id="confirmacaoExclusao"
				widgetVar="confirmacaoExclusao" message="Deseja realmente excluir?"
				header="Exclusão de Cliente" severity="alert" appendToBody="true">
				<h:messages />

				<p:commandButton value="Sim" styleClass="ui-confirmdialog-yes"
					icon="ui-icon-check" onclick="PF('confirmacaoExclusao').hide()"
					action="#{listaClientes.deletarCliente}"
					update="form:painel form:tabCliente form:mensagem" />
				<p:commandButton value="Não" styleClass="ui-confirmdialog-no"
					icon="ui-icon-close" onclick="PF('confirmacaoExclusao').hide()" />

			</p:confirmDialog>


		</h:form>
	</ui:define>

</ui:composition>
</html>
